<div class="card sameheight-item color-chart" data-exclude="xs,sm,lg">
	<div class="card-header">
		<div class="header-block">
			<h3 class="title">
				Colors of cards rented
			</h3>
		</div>
	</div>
    <div class="card-block">
        <div class="color-stats-chart" id="color-stats-chart"></div>
    </div>
</div>