<div class="card sameheight-item stats" data-exclude="xs">
	<div class="card-block">

		<div class="title-block">
			<h4 class="title">
				Currently Rented Cards
			</h4>
		</div>

		<div class="row row-sm stats-container">
			<div class="">
			<div class="card">
				<div class="card-block">
					<section class="example">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>4</td>
									<td>Goblin Guide</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Lightning Bolt</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Runaway Steamkin</td>
								</tr>
							</tbody>
						</table>
					</section>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
