<aside class="sidebar">
	<div class="sidebar-container">

		{{> app/_common/sidebar/header/header}}

		<nav class="menu">
			<ul class="sidebar-menu metismenu" id="sidebar-menu">

				<li {{#is pagename "===" "dashboard"}}class="active"{{/is}} >
					<a href="index.html">
						<i class="fa fa-home"></i> Dashboard
					</a>
				</li>

				{{!-- <li {{#is pagename "===" "account"}}class="active"{{/is}} >
					<a href="account.html">
						<i class="fa fa-user-circle"></i> Account
					</a>
				</li> --}}

				<li {{#is pagename "===" "rent-cards"}}class="active"{{/is}} >
					<a href="rent-cards.html">
						<i class="fa fa-ticket"></i> Rent Cards
					</a>
				</li>
				
			</ul>
		</nav>
		

	</div>

	{{!-- {{> app/_common/sidebar/customize/customize}} --}}

</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
